:root {
    --primary-color: #333333;
    --secondary-color: #666666;
    --accent-color: #B4E33D;
    --text-color: #333333;
    --background-color: #FFFFFF;
    --footer-background: #F8F9FA;
    --card-background: #FFF8E7;
    --button-hover: #95BD32;
}
